video {
    object-fit: cover;
    width: 100%;
    height: 1000px;
    position: fixed;
    z-index: -1;
  }

  .caroussel-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }

  .caroussel-container > h2 {
    color: #fff;
    font-size: 60px;
    margin-top: -100px;
  }

  .caroussel-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

.caroussel-btn {
  margin-right: 50px;
}

  .caroussel-btn {
    margin-top: 32px;
  }

  .caroussel-btn .btn {
    margin: 6px;
  }

  .fa-play-circle {
    margin-left: 4px;
  }

  @media screen and (max-width: 960px) {
    .caroussel-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }

  @media screen and (max-width: 768px) {
    .caroussel-container > h1 {
        font-size: 50px;
        margin-top: -100px;
      }

      .caroussel-container > p {
        font-size: 30px;
      }
    
      .btn-mobile {
        display: block;
        text-decoration: none;
      }
    
      .btn {
        width: 100%;
      }
    }

    .bio {
      padding-bottom: -30px;
        color: white;
        font-size: 20px;
        padding-top: 10px;
        padding-left: 50px;
        text-align: left;
    }

