.client-modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.client-cntt {
    display: flex;
    flex-direction: column;
}


.code-client {
    margin-left: 60px;
    padding-left: 10px;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border-color: rgb(70, 140, 245);
    margin-bottom: 10px;
}

.Raison-social{
    margin-left: 30px;
    margin-right: 40px;
    padding-left: 10px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border-color: rgb(70, 140, 245);
    margin-bottom: 10px;
}

.nom-du-client {
    padding-left: 10px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border-color: rgb(70, 140, 245);
}

.prenom-du-client{
    margin-left: 60px;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border-color: rgb(70, 140, 245);
}

.email-client{
    padding-left: 10px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border-color: rgb(70, 140, 245);
}

.tel-client{
    margin-left: 60px;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border-color: rgb(70, 140, 245);
}

.adreese-client{
    padding-left: 10px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border-color: rgb(70, 140, 245);
}

.activité-client{
    margin-left: 60px;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border-color: rgb(70, 140, 245);
}

.nif-client{
    padding-left: 10px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border-color: rgb(70, 140, 245);
}

.nis-client{
    margin-left: 60px;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border-color: rgb(70, 140, 245);
}

.rib-client{
    padding-left: 10px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border-color: rgb(70, 140, 245);
}

.rc-client{
    margin-left: 60px;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border-color: rgb(70, 140, 245);
}

.client-note{
    border-radius: 10px;
    margin-left: 60px;
    padding-left: 10px;
    height: 100px;
    width: 545px;
    border: 2px solid;
    border-color: rgb(70, 140, 245);
}

.client-enregistrer {
    margin-right: 10px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid rgb(70, 140, 245);
    background-color: transparent;
    color: rgb(70, 140, 245);

}

.client-annuler {
    margin-left: 10px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid rgb(70, 140, 245);
    background-color: transparent;
    color: rgb(70, 140, 245);
}

.btn-client-modal{ 
    position: fixed;
    margin-top: 690px;
    margin-left: 650px;
    z-index: 1;
}