.typefct-ttcfct {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

fctclient-info-1 {
   padding-right: 150px;
}

.fctclient-info-2 {
    padding-left: 20px;
 }

.fctclient-info-3 {
    display: flex;
    flex-direction: column;
    width: 17vw;
    float: right;
    margin-left: 20PX;
}
.btn-user-modal {
    margin-top:32vh;
    margin-left: 34vw;

}

.typefct-datefct {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.nfct-clientfct {
    display: flex;
    flex-direction: column;
}

.num-fctclient {
    width: 210px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid rgb(192, 190, 190);
    padding-left: 10px;
}

.envoi-echeance {
    display: flex;
    flex-direction: row;
}
.bc-note {
    display: flex;
    flex-direction: column;

}
.numBC {
    margin-bottom: 10px;
}

.notefctclient {
    width: 425px;
    height: 70px;
    border-radius: 5px;
    border: 2px solid rgb(192, 190, 190);
    padding-left: 10px;
}

.ht-ttc {
    display: flex;
    flex-direction: row;
}

.tva-ttc {
    margin-left: 10px;
}

.timbre-ttc {
    display: flex;
    flex-direction: column;
}


.fct-prod-modal{

    display: flex;
    flex-direction: row;
}

.fct-client-enregistrer {
    margin-right: 10px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid rgb(70, 140, 245);
    background-color: transparent;
    color: rgb(70, 140, 245);

}

.fct-client-annuler {
    margin-left: 10px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid rgb(70, 140, 245);
    background-color: transparent;
    color: rgb(70, 140, 245);
}

.btn-fct-client-modal { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 720px;
    margin-left: 650px;
}


